[submodule "agents/test-agent"]
	path = agents/test-agent
	url = https://github.com/Architit/LAM_Test_Agent.git
[submodule "agents/operator-agent"]
	path = agents/operator-agent
	url = https://github.com/Architit/Operator_Agent.git
